.main {
  flex-direction: column;
  padding: 50px;
  min-height: 100vh;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.center>div{
  max-width: 100%;
}
.logo{
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 10px 0;background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 67%, rgba(0,0,0,0.56) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(67%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0.56)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 67%, rgba(0,0,0,0.56) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 67%, rgba(0,0,0,0.56) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 67%, rgba(0,0,0,0.56) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 67%, rgba(0,0,0,0.56) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
  .main{
    padding: 20px 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    max-width: 100%;
  }

}


@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
