html{
  direction: rtl;
  font-family: 'Arial', serif;
}
.light-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.light-background::after {
  left: 50%;
  filter: blur(45px);
  transform: translateZ(0);
  position: fixed;
  content: ' ';
  display: block;
  background: var(--primary-glow);
  width: 240px;
  height: 60vh;
  z-index: -1;
  top:20vh;
}
.logo{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}
.post-container{
  width: 600px;
  max-width: 100%;
  background: #22222266;
  padding: 10px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  .content{
    flex: 6;
    padding-inline-end: 10px;
    .title{
      color: #f0f0f0;
      font-size: 1.3em;
      line-height: 1.6em;
    }
    .text-summary{
      margin-top: .5em;
      font-weight: 400;
      color: #ccc;
      text-align: justify;
      line-height: 2em;
    }
  }
  .image-wrapper{
    flex: 2;
    overflow: hidden;
    .post-image{
      width: 100%;
      height: 100px;
      background-size: cover;
      background-position: center;
      border-radius: 3px;
      overflow: hidden;
      opacity: .8;
      img{
        border-radius: 3px;
        opacity: .8;
      }
    }
  }
}
@media (max-width: 700px) {

  .post-container{
    .content{
      .title{
        font-size: 1.1em;
        line-height: 1.3em;
      }
      .text-summary{
        font-size: .8em;
        line-height: 1.2em;
      }
    }
    .image-wrapper{
      flex: 3;
    }
  }
}